package com.tmg.generator.repository;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.Query;
import org.springframework.data.repository.query.Param;
import com.tmg.generator.entity.*;
import java.util.List;
import java.util.Date;

public interface $Repository extends JpaRepository<$Entity, Long>,GenericCustomRepository{

#foreach($Table in $Tables)
//******************** ${Table.name} Methods *********************************//

@Query(value = "SELECT list from $Table.name list" 
#foreach($attribute in $Table.attributes)
#if(($attribute.foreignKey == "true"))
              +" left join fetch list.$attribute.camelCaseTableName"
#end
#end
              )
public List<$Table.name> findAll${Table.name}();

#foreach($attribute in $Table.attributes)
#if((${attribute.primaryKey} == "true" ))

@Query(value = "SELECT list from $Table.name list" 
#foreach($attribute in $Table.attributes)
#if(($attribute.foreignKey == "true"))
              +" left join fetch list.$attribute.camelCaseTableName"
#end
#end
			  +" where list.$attribute.camelCaseName = :id ")
public $Table.name find${Table.name}ById (@Param("id") $attribute.dataType $attribute.camelCaseName);

#elseif(($attribute.foreignKey == "true"))
#foreach($tab in $Tables)
#if((${tab.name})==($attribute.referenceTableName))
#foreach($attr in $tab.attributes)
#if(($attr.primaryKey == "true"))
@Query(value = "SELECT list from $Table.name list" 
#foreach($attribute in $Table.attributes)
#if(($attribute.foreignKey == "true"))
              +" left join fetch list.$attribute.camelCaseTableName"
#end
#end
			  +" where list.${attribute.camelCaseTableName}.${attr.camelCaseName} = :id ", countQuery = "SELECT count(list) from $Table.name list"
			  + " where list.${attribute.camelCaseTableName}.${attr.camelCaseName}  = :id ")
public List<$Table.name> find${Table.name}By${attribute.name} (@Param("id") $attr.dataType $attr.camelCaseName);

#end
#end
#end
#end
#else
@Query(value = "SELECT list from $Table.name list" 
#foreach($attribute in $Table.attributes)
#if(($attribute.foreignKey == "true"))
              +" left join fetch list.$attribute.camelCaseTableName"
#end
#end
			  +" where list.$attribute.camelCaseName = :id ", countQuery = "SELECT count(list) from $Table.name list"
			  + " where list.$attribute.camelCaseName = :id ")
public List<$Table.name> find${Table.name}By${attribute.name} (@Param("id") $attribute.dataType $attribute.camelCaseName);

#end
#end
#if($Table.embeddableFlag == "true")

@Query(value = "SELECT list from $Table.name list" 
#foreach($attribute in $Table.attributes)
#if(($attribute.foreignKey == "true"))
              +" left join fetch list.$attribute.camelCaseTableName"
#end
#end
#foreach($attribute in $Table.embeddable.attributes)
#if(($attribute.foreignKey == "true"))
              +" left join fetch list.${Table.embeddable.camelCaseName}.$attribute.camelCaseTableName"
#end
#end
#set($i = 0)
#foreach($attrib in $Table.embeddable.attributes)
#foreach($tab in $Tables)
#if($attrib.referenceTableName == $tab.name)
#foreach($att in $tab.attributes)
#if($att.primaryKey == "true")
#if($i == 0)
             +" where list.${Table.embeddable.camelCaseName}.${attrib.camelCaseTableName}.${att.camelCaseName} = :${att.camelCaseName}"
#set($i = 1)
#else
              +" And list.${Table.embeddable.camelCaseName}.${attrib.camelCaseTableName}.${att.camelCaseName} = :${att.camelCaseName}"
#end
#end
#end
#end
#end
#if($attrib.foreignKey == "false")
#if($i == 0)
             +" where list.${Table.embeddable.camelCaseName}.${attrib.camelCaseName} = :${attrib.camelCaseName}"
#else
             +" And list.${Table.embeddable.camelCaseName}.${attrib.camelCaseName} = :${attrib.camelCaseName}"
#end
#end
#end
              )
public $Table.name find${Table.name}ById (
#set($i = 0)
#foreach($attrib in $Table.embeddable.attributes)
#foreach($tab in $Tables)
#if($attrib.referenceTableName == $tab.name)
#foreach($att in $tab.attributes)
#if($att.primaryKey == "true")
#if($i == 0)
              @Param("$att.camelCaseName") $att.dataType $att.camelCaseName
#set($i = 1)
#else
             ,@Param("$att.camelCaseName") $att.dataType $att.camelCaseName  
#end
#end
#end
#end
#end
#if($attrib.foreignKey == "false")
#if($i == 0)
             @Param("$attrib.camelCaseName") $attrib.dataType $attrib.camelCaseName
#set($i = 1)
#else
              ,@Param("$attrib.camelCaseName") $attrib.dataType $attrib.camelCaseName 
#end
#end
#end
              );
              
#end
//**********************************End***************************************//


#end
}