<div class="panel panel-default">
    <div class="panel-body">
        <div class="row-fluid">
            <div class="col-xs-12">
                <table id="$Table.camelCaseName">
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"
	src="/service-generator/js/${Table.camelCaseName}.js"></script>