package com.tmg.generator.webservices;

import com.tmg.generator.data.${Table.name}Data;
import com.tmg.generator.services.${Table.name}Service;

import java.util.List;
import java.util.ArrayList;
import java.util.Date;
import javax.jws.WebMethod;
import javax.jws.WebParam;
import javax.jws.WebResult;
import javax.jws.WebService;
import javax.jws.soap.SOAPBinding;
import javax.jws.soap.SOAPBinding.ParameterStyle;
import javax.jws.soap.SOAPBinding.Style;
import javax.jws.soap.SOAPBinding.Use;
import javax.xml.ws.BindingType;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import org.apache.log4j.Logger;
import com.tmg.generator.common.DataAccessException;
import com.tmg.generator.common.ServiceOperationResult;
import com.tmg.generator.common.ServiceFault;



@Component("${Table.name}WebService")
@WebService(name = "${Table.name}WebService", serviceName = "${Table.name}WebService", endpointInterface = "com.tmg.generator.webservices.${Table.name}WebService", targetNamespace = "http://www.tmg.com/service-generator/${Table.name}WebService")
@BindingType(javax.xml.ws.soap.SOAPBinding.SOAP12HTTP_BINDING)
public class ${Table.name}WebServiceImpl implements ${Table.name}WebService {

private static Logger logger = Logger.getLogger(${Table.name}WebServiceImpl.class);

@Autowired
private ${Table.name}Service service;

@Override
@WebMethod(operationName = "Get${Table.name}List", action = "Get${Table.name}List")
	public @WebResult(name = "${Table.name}Data", targetNamespace ="http://www.tmg.com/service-generator/${Table.name}WebService")
	List<${Table.name}Data> getAll${Table.name}() throws ServiceFault
	{
	   try{
	   return service.getAll${Table.name}();
	   }
	   catch (DataAccessException e) {
			logger.error(e.getMessage(), e);
			throw new ServiceFault("Error Retrieving value:" + e.getMessage(),
					e);
		}
	}

#foreach($attribute in $Table.attributes)
#if($attribute.primaryKey == "true")
@Override
@WebMethod(operationName = "Get${Table.name}ById", action = "Get${Table.name}ById")
	public @WebResult(name = "${Table.name}Data", targetNamespace="http://www.tmg.com/service-generator/${Table.name}WebService")
	${Table.name}Data get${Table.name}ById(@WebParam(name = "$attribute.camelCaseName") ${attribute.dataType} ${attribute.camelCaseName}) throws ServiceFault
	{
	try{
	return service.get${Table.name}ById(${attribute.camelCaseName});
	}catch (DataAccessException e) {
			logger.error(e.getMessage(), e);
			throw new ServiceFault("Error Retrieving value:" + e.getMessage(),
					e);
		}
	}

@Override
@WebMethod(operationName = "Delete${Table.name}ById", action = "Delete${Table.name}ById")
	public @WebResult(name = "ServiceOperationResult", targetNamespace="http://www.tmg.com/service-generator/${Table.name}WebService") 
	ServiceOperationResult delete${Table.name}ById(@WebParam(name = "$attribute.camelCaseName") ${attribute.dataType} ${attribute.camelCaseName}) throws ServiceFault
	{
	    try{
	    return service.delete${Table.name}ById(${attribute.camelCaseName});
	    }
	    catch (DataAccessException e) {
			logger.error(e.getMessage(), e);
			throw new ServiceFault("Error Deleting value:" + e.getMessage(),
					e);
		}
	}

#else
@Override
@WebMethod(operationName = "Get${Table.name}By${attribute.name}", action = "Get${Table.name}By${attribute.name}")
	public @WebResult(name = "${Table.name}Data", targetNamespace="http://www.tmg.com/service-generator/${Table.name}WebService")
	List<${Table.name}Data> get${Table.name}By${attribute.name}(@WebParam(name = "$attribute.camelCaseName") ${attribute.dataType} ${attribute.camelCaseName}) throws ServiceFault
	{
	try{
	return service.get${Table.name}By${attribute.name}(${attribute.camelCaseName});
	}
	catch (DataAccessException e) {
			logger.error(e.getMessage(), e);
			throw new ServiceFault("Error Retrieving value:" + e.getMessage(),
					e);
		}
	}
	
#end
#end

@Override
@WebMethod(operationName = "Save${Table.name}", action = "Save${Table.name}")
	public @WebResult(name = "ServiceOperationResult", targetNamespace="http://www.tmg.com/service-generator/${Table.name}WebService")
	ServiceOperationResult save${Table.name}(
			@WebParam(name = "${Table.name}Data", targetNamespace = "http://www.tmg.com/service-generator/data") ${Table.name}Data data) throws ServiceFault
			{
			try{
			 return service.save${Table.name}(data);
			 }catch (DataAccessException e) {
			logger.error(e.getMessage(), e);
			throw new ServiceFault("Error Saving value:" + e.getMessage(),
					e);
		}
			}

@Override
@WebMethod(operationName = "Update${Table.name}", action = "Update${Table.name}")
	public @WebResult(name = "ServiceOperationResult", targetNamespace="http://www.tmg.com/service-generator/${Table.name}WebService")
	ServiceOperationResult update${Table.name}(
			@WebParam(name = "${Table.name}Data", targetNamespace = "http://www.tmg.com/service-generator/data") ${Table.name}Data data) throws ServiceFault
			{
			try{
			 return service.update${Table.name}(data);
			 }catch (DataAccessException e) {
			logger.error(e.getMessage(), e);
			throw new ServiceFault("Error Updating value:" + e.getMessage(),
					e);
		}
			}
			
@Override
@WebMethod(operationName = "Delete${Table.name}", action = "Delete${Table.name}")
	public @WebResult(name = "ServiceOperationResult", targetNamespace="http://www.tmg.com/service-generator/${Table.name}WebService")
	ServiceOperationResult delete${Table.name}(
			@WebParam(name = "${Table.name}Data", targetNamespace = "http://www.tmg.com/service-generator/data") ${Table.name}Data data) throws ServiceFault
			{
			try{
			 return service.delete${Table.name}(data);
			 }catch (DataAccessException e) {
			logger.error(e.getMessage(), e);
			throw new ServiceFault("Error Deleting value:" + e.getMessage(),
					e);
		}
			}
			
}